[Unit]
Description=Dumpyarabot redis + bot + worker
Wants=dumpyarabot-redis.service dumpyarabot-bot.service dumpyarabot-worker.service
After=dumpyarabot-redis.service dumpyarabot-bot.service dumpyarabot-worker.service

[Install]
WantedBy=multi-user.target
