[Unit]
Description=Dumpyarabot redis + bot + worker
Wants=dumpyarabot-redis.service dumpyarabot-bot.service dumpyarabot-worker@1.service dumpyarabot-worker@2.service
After=dumpyarabot-redis.service dumpyarabot-bot.service dumpyarabot-worker@1.service dumpyarabot-worker@2.service

[Install]
WantedBy=multi-user.target
